body {
    background-color: black;
    color: black;
    font-size: 24px;
    line-height: 2;
    background-position: center;

    .siema {
        color: white;

        .cotam {
            border-color: black;
        }
    }
}

.siema {
    color: black;
    transition: all  .3s;
}